# Byte-compiled / cache
__pycache__/
*.py[cod]
lambda_handler_template.py

# Lambda package
infrastructure/lambda.zip

# Pycharm
.idea/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# OS
.DS_Store
